{% extends "base.html" %}

{% block content %}
<body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

   <!-- form for inputs   -->
<p>Please input amount. (For example, 135.89)</p>

    <form method="POST" action="/setbudget">
        <label for ="MonthIncome">How much money have you received this month?</label>
        <input type ="text" id="MonthIncome" name ="MonthIncome"><br><br>      

        <label for ="NumBills">How many bills do you have to pay?</label>
        <input type ="number" id="NumBills" name ="NumBills" min="1" placeholder ="Enter a number" required>

        <div class="numContain" id="numContain"></div>

        <br><br>
        <label for ="savings">How much of your income do you want towards savings in general? </label>
        <input type ="text" id="savings" name ="savings"><br><br>


        <label for ="numSavings">How many categories do you want to split your savings into?</label>
        <input type ="number" id="numSavings" name ="numSavings" min="1" placeholder ="Enter a number" required> <br>
    
        <div class="saveContain" id="saveContain"></div>

<button type='submit'>submit</button>
<button type="button" onclick ="calculation()">Calculate</button>
    </form>
<br><br>


<!-- <p>Please input in percentages. (For example, for 40% input 40) </p> -->
<p id="leftover"></p>

<!-- chart element -->
<canvas id="expenseChart" width="400" height="200"></canvas>
<canvas id="savingsChart" width="400" height="200"></canvas>




<script src="../static/script.js"></script>


</body>
{% endblock %}