{% extends "base.html" %}

{% block content %}

<body>
<p>Please input amount. (For example, 135.89)</p>

    <<form method="POST" action="/setbudget">
    <label for="MonthIncome">How much money have you received this month?</label>
    <input type="text" id="MonthIncome" name="MonthIncome" value="{{ income }}"><br><br>

    <label for="NumBills">How many bills do you have to pay?</label>
    <input type="number" id="NumBills" name="NumBills" min="1" value="{{ bills|length }}" placeholder="Enter a number" required>
    <div class="numContain" id="numContain">
        {% for bill_name, bill_cost in bills.items() %}
            <label for="{{ loop.index }}BillName">Bill {{ loop.index }} Name:</label>
            <input type="text" id="{{ loop.index }}BillName" name="{{ loop.index }}BillName" value="{{ bill_name }}">
            <label for="{{ loop.index }}BillCost">Bill {{ loop.index }} Cost:</label>
            <input type="text" id="{{ loop.index }}BillCost" name="{{ loop.index }}BillCost" value="{{ bill_cost }}">
        {% endfor %}
    </div>

    <br><br>
    <label for="savings">How much of your income do you want towards savings in general? </label>
    <input type="text" id="savings" name="savings" value="{{ savings }}"><br><br>

    <label for="numSavings">How many categories do you want to split your savings into?</label>
    <input type="number" id="numSavings" name="numSavings" min="1" value="{{ goals|length }}" placeholder="Enter a number" required>
    <div class="saveContain" id="saveContain">
        {% for goal_name, goal_cost in goals.items() %}
            <label for="{{ loop.index }}saveName">Goal {{ loop.index }} Name:</label>
            <input type="text" id="{{ loop.index }}saveName" name="{{ loop.index }}saveName" value="{{ goal_name }}">
            <label for="{{ loop.index }}saveCost">Goal {{ loop.index }} Cost:</label>
            <input type="text" id="{{ loop.index }}saveCost" name="{{ loop.index }}saveCost" value="{{ goal_cost }}">
        {% endfor %}
    </div>
    <button type="button" onclick="handleButtonClick()">Calculate</button>
</form>
<br><br>

<p id="leftover"></p>

<canvas id="expenseChart" width="400" height="200"></canvas>
<canvas id="savingsChart" width="400" height="200"></canvas>

<script src="../static/script.js"></script>
<script>
    function handleButtonClick() {
        // Perform the calculation
        calculation();

        // Submit the form programmatically
        document.querySelector('form').submit();
    }
</script>
</body>
{% endblock %}